# If adding a new value, ensure the key vault is updated and tagged with "e2e": "ENV_VAR_NAME"

# EXUI users
E2E_SOLICITOR_USERNAME=
E2E_SOLICITOR_PASSWORD=
E2E_SOLICITOR_ORGANISATION=
E2E_SOLICITOR_PBA=
CASEWORKER_USERNAME=
CASEWORKER_PASSWORD=
LEGALADVISOR_USERNAME=
LEGALADVISOR_PASSWORD=
